.App {
  text-align: center;
  font-family: "Verdana", "sans-serif";
}

.btn {
  height: 30px;
  width: 180px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s;
}

.btn:hover {
  color: rgba(54, 246, 1, 0.797);
  transform: scale(1.01);
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.7;
}
