.Navbar {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(black, 0.05), 0px 2px 4px rgba(black, 0.06);

  ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    gap: 100px;

    li {
      position: relative;
      list-style: none;
      text-transform: uppercase;
      overflow: hidden;
      cursor: pointer;

      a {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 500;
        padding-bottom: 20px;
        display: block;
        text-transform: uppercase;
        background: white;
        color: #8eaab8;
        transition: all 0.2s;
      }
      a:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #0a0a0a;
        animation: slide-out 300ms ease-in-out forwards;
      }
      a:hover {
        background: lighten(#eceff1, 5%);
        color: #8eaab8;
        &:after {
          animation: slide-in 300ms;
        }
      }
    }
  }
}

.linkActive {
  color: #0a0a0a;
}

@keyframes slide-out {
  0% {
    transform: none;
  }
  100% {
    transform: translate(100%, 0);
  }
}
@keyframes slide-in {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: none;
  }
}
