.App {
  text-align: center;
}

body {
  background: hsl(227, 10%, 10%);
  color: #fff;
  font-family: 1em "Fira Sans", sans-serif;
}

.btn {
  background: none;
  border-radius: 2px;
  border: 2px solid;
  color: rgb(61, 156, 245);
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  text-transform: capitalize;
  transition: 0.25s;
  width: 100px;
}

.btn:hover,
.btn:focus {
  border-color: rgb(61, 156, 245);
  box-shadow: inset 8em 0 0 0 rgb(61, 156, 245);
  color: #f3f3f3;
}
