* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1rem;
}

.attori_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4%;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  border: 1px solid rgb(228, 186, 3);
  border-radius: 4px;
  padding: 2%;
  line-height: 1.5;
}
